<?xml version="1.0" encoding="utf-8"?>
<connectionStrings configBuilders="SitecoreConnectionStringsBuilder">
	<!-- 
    Sitecore connection strings.
    All database connections for Sitecore are configured here.
  -->
	<add name="core" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Core;User ID=coreuser;Password=9sLeV1nnHIgYECyxGMJ0" />
	<add name="security" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Core;User ID=securityuser;Password=nKPmSq9nQOz8G12K1KaW" />
	<add name="master" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Master;User ID=masteruser;Password=ovo1zB1JpOkWpOsPr3I0" />
	<add name="web" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Web;User ID=webuser;Password=joyWZsvg61HvMDdtnCjo" />
	<add name="messaging" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Messaging;User ID=messaginguser;Password=GFSqaeqyeFcJPdL6n3zy" />
	<add name="xdb.processing.pools" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Processing.Pools;User ID=poolsuser;Password=WQCB6DCa9BgUzwMlpzpD" />
	<add name="xdb.referencedata" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_ReferenceData;User ID=referencedatauser;Password=VPWAIkeKFvID1YnvN22G" />
	<add name="xdb.processing.tasks" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Processing.Tasks;User ID=tasksuser;Password=ifL3tGf6aUf0lL0n3tRW" />
	<add name="experienceforms" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_ExperienceForms;User ID=formsuser;Password=9RxIg5wmoNozcXcWNRam" />
	<add name="exm.master" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_EXM.Master;User ID=exmmasteruser;Password=DApCJBLOm7bHo1Z5j1TP" />
	<add name="reporting" connectionString="Data Source=SEBASTIAN;Initial Catalog=SitecoreHelix_Reporting;User ID=reportinguser;Password=oEuOkfqDfNv0QlciCEVm" />
	<add name="cortex.processing.engine" connectionString="https://SitecoreHelixxconnect.dev.local" />
	<add name="cortex.processing.engine.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=96EE99406A0AA3C5C9B3354DB3C6001A3D89F5C7" />
	<add name="sitecore.reporting.client" connectionString="https://SitecoreHelixxconnect.dev.local" />
	<add name="sitecore.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=96EE99406A0AA3C5C9B3354DB3C6001A3D89F5C7" />
	<add name="solr.search" connectionString="https://localhost:8983/solr" />
	<add name="sitecoreidentity.secret" connectionString="xQOdBNFISwblBvlO2PyTOmYKp8e4r9ZcAUzld3XgupL8TkdLUalGxG9XEZO5kBCPduQvgaJnX9iOSJvkgspHLb34IT7q5IqPNfiJ" />
	<add name="xconnect.collection" connectionString="https://SitecoreHelixxconnect.dev.local" />
	<add name="xconnect.collection.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=96EE99406A0AA3C5C9B3354DB3C6001A3D89F5C7" />
	<add name="xdb.marketingautomation.operations.client" connectionString="https://SitecoreHelixxconnect.dev.local" />
	<add name="xdb.marketingautomation.operations.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=96EE99406A0AA3C5C9B3354DB3C6001A3D89F5C7" />
	<add name="xdb.marketingautomation.reporting.client" connectionString="https://SitecoreHelixxconnect.dev.local" />
	<add name="xdb.marketingautomation.reporting.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=96EE99406A0AA3C5C9B3354DB3C6001A3D89F5C7" />
	<add name="xdb.referencedata.client" connectionString="https://SitecoreHelixxconnect.dev.local" />
	<add name="xdb.referencedata.client.certificate" connectionString="StoreName=My;StoreLocation=LocalMachine;FindType=FindByThumbprint;FindValue=96EE99406A0AA3C5C9B3354DB3C6001A3D89F5C7" />
	<add name="EXM.CryptographicKey" connectionString="0x6338612161293038786509691872129107079231485070951037483021058274" />
	<add name="EXM.AuthenticationKey" connectionString="0x2482028236860872587463136639152404449045730094489761669691806571" />
</connectionStrings>